@using MVCDemo01.Models

@model Member
@{
    ViewBag.Title = "action6";
}

<h2>action6</h2>
<p>@ViewBag.msg</p>
<p><b>@Model.FirstName @Model.LastName</b></p>
<p><b>@Model.FirstName @Model.LastName</b></p>


